block content
   p My deployment github repository can be found at #[a(href="https://github.com/eliastre100/Laurea---MEAN-Course", target="_blank") https://github.com/eliastre100/Laurea---MEAN-Course]
