extends ../layout

block content
    h1 Germany's best bands
    .row
        each band in bands
            .col-sm
                h3= band.name
                iframe(src='https://open.spotify.com/embed/' + band.playlist width='300' height='380' frameborder='0' allowtransparency='true' allow='encrypted-media')
