extends ../layout

block content
    h1 All bands
    .row
        each band in bands
            .col-sm
                h3= band.name
                  a(href="/artist/" + band._id, class="btn btn-warning") Edit
                  a(href="#", class="btn btn-danger") Delete
                iframe(src='https://open.spotify.com/embed/' + band.playlist width='300' height='380' frameborder='0' allowtransparency='true' allow='encrypted-media')
