extends layout

block content
  h1= title
  p Welcome to #{title}! Listen and discover awesome bands and improve your musical knowledge!
  p
    small (This website is in no point objective and fully subjective!)
  br
  br
  br
  p Improve this database by manually editing the app/models/Bands.js file